<%- include ('adminlook'); %>
<div class="container">
	<h1 class="mb-4"> New Book Review</h1>
		<form action="/admin/reviewedit" Method="POST">
		<%- include ('_reviewform'); %>

		</form>
</div>

