<%- include ('adminlook'); %>
<div class="container">
	<h1 class="mb-4"> New Article</h1>
		<form action="/admin/editblog" Method="POST">
		<%- include ('_formfields'); %>

		</form>
</div>

