

	<footer class="footer">
		<div class="container">
			<div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
       					<div class="block-21 mb-4 d-flex">
						<a class="img mr-4 rounded" style="background-image: url(/images/logo3.jpg);"></a>

					</div>
					
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading">Hope City Bible Church</h2>
					<p>Focusing upward. Nurturing inward. Engaging toward.</p>
					<ul class="ftco-footer-social p-0">
						<li class="ftco-animate"><a href="https://twitter.com/hcbc_1689" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
						<li class="ftco-animate"><a href="https://www.facebook.com/hcbcke" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
						<li class="ftco-animate"><a href="https://www.instagram.com/hcbc_1689/?hl=en" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
					</ul>
				</div>
				
				<div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
					<h2 class="footer-heading">Quick Links</h2>
					<ul class="list-unstyled">
						<li><a href="/" class="py-2 d-block">Home</a></li>
						<li><a href="/about" class="py-2 d-block">About</a></li>
						<li><a href="/resources" class="py-2 d-block">Resources</a></li>
						<li><a href="/contact" class="py-2 d-block">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<h2 class="footer-heading">Have a Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon fa fa-map"></span><span class="text">Thika Road, Nairobi, Kenya</span></li>
							<li><a href="tel:+254735950443"><span class="icon fa fa-phone"></span><span class="text">0735 950443</span></a></li>
							<li><a href="mailto:info@hopecitybiblechurch.org"><span class="icon fa fa-paper-plane"></span><span class="text">info@hopecitybiblechurch.org</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			</div>
		</footer>

		

		<!-- loader -->
		<!--<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>-->

		<script src="js/audio.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-migrate-3.0.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/jquery.animateNumber.min.js"></script>
		<script src="js/bootstrap-datepicker.js"></script>
		<script src="js/jquery.timepicker.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/scrollax.min.js"></script>
		<script src="js/google-map.js"></script>
		<script src="js/main.js"></script>


		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		
		<script >
	$(document).ready(function () {
        var url = window.location;
    // Will only work if string in href matches with location
        $(' a[href="' + url + '"]').parent().addClass('active');

    // Will also work for relative and absolute hrefs
        $(' a').filter(function () {
            return this.href == url;
        }).parent().addClass('active').parent().parent().addClass('active');
        $('#nav li a').filter(function () {
            return this.href == url;
        }).parent().addClass('active').parent().parent().addClass('active');
    });


    
    </script>
		<!-- Main Quill library -->
		
<!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js')}}"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js')}}"></script>-->


	
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
$(document).ready(function () {
    $(window).on("resize", function (e) {
        checkScreenSize();
    });

    checkScreenSize();

    function checkScreenSize(){
        var newWindowWidth = $(window).width();
        if (newWindowWidth < 768) {
           
        	jQuery(function($) {
    $('.golink').click(function() {
        return false;
    }).dblclick(function() {
        window.location = this.href;
        return false;
    });
});

        }
        
    }
});

</script>
		
	</body>
	</html>