<%- include ('_layouts/websitehead'); %>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/give.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end js-fullheight">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Give<i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Give</h1>
            </div>
        </div>
    </div>

</section>



<style class="cp-pen-styles">




.containerz {
 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0 30px;
}
.containerz .thumbex {
  margin: 10px 20px 30px;
  width: 100%;
  min-width: 250px;
  max-width: 80pc;
  height: 40rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  
 
  box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
}
.containerz .thumbex .thumbnail {
  overflow: hidden;
  min-width: 250px;
  height: 30rem;
  position: relative;
  opacity: 0.88;
  backface-visibility: hidden;
  transition: all 0.4s ease-out;
}
.containerz .thumbex .thumbnail img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 60%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.containerz .thumbex .thumbnail span {
  position: absolute;
  z-index: 2;
  top: calc(150px - 20px);
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 50px;
  margin: 0 45px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-out;
}
.containerz .thumbex .thumbnail:hover {
  backface-visibility: hidden;
  transform: scale(1.15, 1.15);
  opacity: 1;
}
.containerz .thumbex .thumbnail:hover span {
  opacity: 0;
}
</style>
<div class="row justify-content-center pb-5 mb-3"><br>

<div class="col-7 heading-section text-center ftco-animate p-5 mb-6 mt-5">
					<span class="subheading">Giving</span>
					<h3></h3>
				</div>
			</div>


<div class="containerz">
 
  
  <div class="thumbex">
    <div class="thumbnail"><a ><img src="/images/mpesa.jpeg" /></a></div>
  </div>

<div class="thumbex bg-light">
<div class="row  no-gutters d-flex sermon-wrap ftco-animate">
	<div class=" p-5">
	
              
                  <div class="justify-content-center text m-3 px-5">
            				<div class="  ">
                      <img style="height: 30px;  display: block;
  margin-left: auto;
  margin-right: auto; align-self: center" src="/images/mpesa.svg">
           <p style="font-size: 15px; text-align: center"> It is easy to give your offerings through our <span> MPESA PAYBILL </span> number</p>
           	            		 <p style="font-size: 15px; text-align: center">STEP 1. Key in the mpesa <br> <span>PAYBILL NUMBER: <span><b> 508885</b>  </span></span> <hr></p>

            		<p style="font-size: 15px; text-align: center">STEP 2. Then key in the<br> <span>ACCOUNT NUMBER: <span> <b> 9894#</b> </span></span><br> prefix  followed by the purpose of your giving.	<u>Example:</u><br>
            							<span>ACCOUNT NUMBER: <span><b> 9894#offering </b>  </span></span><br></p><hr>

            		<p style="font-size: 15px; text-align: center">STEP 3. Enter the amount and your PIN.<hr></p>


           <p style=" font-size: 15px; text-align: center"> We encourage our members to give in support of GOD's work and KINGDOM that HOPECITY BIBLE CHURCH continues to advance</p>
   				 </div>
</div>
</div>
</div>
</div>

<div class="thumbex">    

    <div class="thumbnail"><a href="#"><img src="/images/give.svg"/></a></div>
  </div>


</div>




<%- include ('_layouts/websitefoot'); %>