<%- include ('_layouts/websitehead'); %>

    
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/fellowship.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
       <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us<i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">Pastors</h1>
     </div>
   </div>
 </div>
</section>


<section class="mb-5">
<div class="tab">
  <button class="tablinks col-3" onclick="openPage(event, 'pastors')" id="defaultOpen">Pastors</button>
  <button class="tablinks col-3" onclick="openPage(event, 'deacons')">Deacons</button>
  <button class="tablinks col-3" onclick="openPage(event, 'staff')">Staff</button>
  <button class="tablinks col-3" onclick="openPage(event, 'constitution')">Constitution</button>
 
</div>
</section>



<section id="pastors" class="ftco-section tabcontent">
  <div class="container">
   <div class="row justify-content-center pb-5 mb-3">
     <div class="col-md-7 heading-section text-center ftco-animate">
      <span class="subheading">Pastors</span>
      <h2>Our Pastors</h2>
    </div>
  </div>
  
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-sm card-body bg-light">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/solomon.jpeg" alt="" class="rounded img-fluid" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Solomon Mbuthia</h4>
                        <p>Mbuthia S. Muigai was born and grew up in Nairobi, Kenya. He
        grew up in a thriving Baptist church in Nairobi, aware of the
        gospel tenets at an early age, but the Lord saved him just before joining the
        Kenya Medical Training College in the year 2006 where he pursued
        Medical Laboratory Sciences, specializing in Cytology and Histopathology.
        Upon graduating Mbuthia remained active in his local congregation serving
        in evangelism, young-adults and discipleship ministries, where he’d later
        serve as a pastor for 5years.
        In June 2015, he received his Bachelor’s degree in Theology from the
        Africa International University (AIU).
        He is currently pursuing a masters degree in Biblical Studies from AIU, Nairobi.
        He loves to disciple young adults, train pastors in rural Kenya, defend the
        Christian Faith and reach out to the lost with the powerful gospel of Christ
        Jesus. He also serves as a visiting lecturer in different Bible colleges.
        Mbuthia and his wife Annabel got married in April 2016 and they have two
        sons, Nathan and Neilan. </p>
                        <p>
                            <i class="fa fa-envelope"></i> mbuthia@hopecitybiblechurch.org
                            <br />
                           </p> 
                        <!-- Split button -->
                        <div class="btn-group">
                    <p class="font-13 font-weight-medium">
                     <a class="mr-2"href="https://www.facebook.com/sollohmbuthia" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook">  Facebook</span></a>
                     <a href="https://twitter.com/Sollohm?s=08" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-twitter">Twitter</span></a>
                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-12">
             <div class="card card-sm card-body bg-light">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="images/solomon.jpeg" alt="" class="rounded img-fluid" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            Solomon Mbuthia</h4>
                        <p>Mbuthia S. Muigai was born and grew up in Nairobi, Kenya. He
        grew up in a thriving Baptist church in Nairobi, aware of the
        gospel tenets at an early age, but the Lord saved him just before joining the
        Kenya Medical Training College in the year 2006 where he pursued
        Medical Laboratory Sciences, specializing in Cytology and Histopathology.
        Upon graduating Mbuthia remained active in his local congregation serving
        in evangelism, young-adults and discipleship ministries, where he’d later
        serve as a pastor for 5years.
        In June 2015, he received his Bachelor’s degree in Theology from the
        Africa International University (AIU).
        He is currently pursuing a masters degree in Biblical Studies from AIU, Nairobi.
        He loves to disciple young adults, train pastors in rural Kenya, defend the
        Christian Faith and reach out to the lost with the powerful gospel of Christ
        Jesus. He also serves as a visiting lecturer in different Bible colleges.
        Mbuthia and his wife Annabel got married in April 2016 and they have two
        sons, Nathan and Neilan. </p>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>mbuthia@hopecitybiblechurch.org
                            <br />
                        </p>-->
                           
                        <!-- Split button -->
                        <!-- <div class="btn-group">
                           <p class="font-13 font-weight-medium">
                     <a class="mr-2"href="https://www.facebook.com/sollohmbuthia" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook">  Facebook</span></a>
                     <a href="https://twitter.com/Sollohm?s=08" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-twitter">Twitter</span></a>
                    </p>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>


      </section>

<section id="deacons" class="ftco-section tabcontent">




</section>

<section id="staff" class="ftco-section tabcontent">




</section>
<section id="constitution" class="ftco-section tabcontent">
    <div class="container">
   <div class="row justify-content-center pb-5 mb-3">
     <div class="col-md-7 heading-section text-center ftco-animate">
      <span class="subheading">Constitution</span>
      <h2>Request Constitution</h2>
    </div>
  </div>
    <div class="container">
      <div class="formBox">
        <p> Our Contstitution will be availed to you on request</p>
        <p>Submit your <span style="color: #ce0f3d">name</span> and <span style="color: #ce0f3d"> email </span> in the form below to request for our constitution. The team at Hope City Bible Church will reach out to you. </p>
        
        <form method="POST" action="/request">
             <div class="row">
              <div class="col-sm-6">
                <div class="inputBox ">
                  <div class="inputText">First Name</div>
                  <input type="text" name="fname" class="input">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="inputBox">
                  <div class="inputText">Last Name</div>
                  <input type="text" name="lname" class="input">
                </div>
              </div>

            </div>
           

            <div class="row">
              <div class="col-sm-12">
                <div class="inputBox">
                  <div class="inputText">Email</div>
                  <input type="text" name="email" class="input">
                </div>
              </div>
            </div>

              <div class="row">
              <div class="col-sm-12">
                <div class="inputBox">
                  <!--<div class="inputText" style="display:none;">Message</div>-->
                  <input class="input" name="message" value="Request for Constitution" style="display:none;">
                </div>
              </div>
            </div>            

            <div class="row">
              <div class="col-sm-12">
                <input type="submit" id="send_request"  class="button" value="Send Message">
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>

</section>

<%- include ('_layouts/websitefoot'); %>

<style type="">
  /* Style the tab */

  .formBox{
  margin-top: 90px;
  padding: 50px;
}
.formBox  h1{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
}
.inputBox{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.inputBox .inputText{
  position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
  transform: translateY(-30px);
  font-size: 18px;
  opacity: 1;
  color: #00bcd4;

}
textarea{
  height: 100px !important;
}
.button{
  width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background:  #ce0f3d;
    color: #fff;
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

</style>

<script type="text/javascript">
  function openPage(evt, pageName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(pageName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();


$(".input").focus(function() {
 $(this).parent().addClass("focus");
    });



       $(document).ready(function () {
            ("#send_request").click(function () {
                alert("Your request has been sent");
               });
            });
      
</script>